@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}